<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../../client/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/css/user-profile.css'>
</head>
<body>
    <div class="container">
        <header class="static-header">
            <div id="content">
                <nav>
                    <div class="logo">
                        <a href="../../client/index.html"><img src="https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/logo-rosa-white.png" alt="Rosa Logo"></a>
                    </div>
        
                    <div class="navigation-bar">
                        <ul>
                            <li><a href="../../client/index.html">Home<span class="underline"></span></a></li>
                            <li><a href="../../client/src/primay-page/primary-page.html">Shop<span class="underline"></span></a></li>
                            <li class="active"><a href="../../client/src/register-page/register-page.html">Register<span class="underline"></span></a></li>
                            <li><a href="../../client/src/contact-us/contact-us.html">Contact<span class="underline"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <section class="profile-info">
            <div class="profile-header">
                <div class="user-details">
                    <div>
                        <h2 id="name"></h2>
                    </div>
                    <div>
                        <p id="email"></p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <h1>Order History</h1>
    <div id="orderHistory" class="order-history"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../client/index.js"></script>
    <script src="../../public/js/user-profile.js"></script>
</body>
</html>