<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../../client/index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../public/css/user-profile.css'>
</head>
<body>
        <header class="static-header">
            <div id="content">
                <div id="nav-template"></div>
            </div>
        </header>
        <section class="profile-info">
            <div class="profile-header">
                <div class="user-details">
                    <div>
                        <h2 id="name"></h2>
                    </div>
                    <div>
                        <p id="email"></p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <h1>Order History</h1>
    <div id="orderHistory" class="order-history"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../../client/index.js"></script>
    <script src="../../public/js/user-profile.js"></script>
</body>
</html>