.container {
  color: white;
  position: relative;
  font-family: sans-serif;
  cursor: pointer;
  z-index: 2;
}

.container .box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  z-index: 2;

}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}


.container .box img {
  justify-self: center;
  border: 1px solid rgba(255, 255, 255, 0.222);
  border-radius: 0.7rem;
}

a{
  text-decoration: none;
}

.container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
  z-index: 2;
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.container .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.grid-container {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.1fr));
  grid-auto-rows: auto;
  gap: 5px;
  justify-content: center;
}

/* Next and prev page buttons start */
.butt {
  margin-top: 5px;
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}
.butt.next{
  /* margin-left: 345%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.butt:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.butt.next svg {
  width: 1.6em;
  margin: 0em 0.2em;
  display: flex;
  transition: all 0.6s ease;
}
.butt.prev svg {
  transform: rotate(180deg);
  width: 1.6em;
  margin: 0em 0.2em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.butt.next:hover svg {
  transform: translateX(5px);
}
.butt.prev:hover svg {
  transform: rotate(180deg) translateX(5px);
}

.butt-text {
  margin: 0 0.5em;
}

.prev{
  grid-column: 1 / 2;
  grid-row: span 1;
  justify-self: start;
}

.next{
  grid-column: -2 / -1;
  grid-row: span 1;
  justify-self: end;
}

/*Next and prev buttons End */

/* Filter Dropdown Menu */

.dropdown-filter{
  width: auto;
  height: auto;
  position: fixed;
  top: 16dvh; 
  left: 0; 
  z-index: 1000;
}

.dropdown-filter .container .box{
  height: auto;
  cursor: default;
}

.dropdown-filter .container .box svg{
  margin-left: 40px;
  fill: white;
}

.input {
  -webkit-appearance: none;
 /* remove default */
  display: block;
  margin: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
  background-color: hsla(0,0%,0%,.2);
  background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
  background-repeat: no-repeat;
  -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
  outline: none;
}

.input:checked {
  -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}

.input:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}

/* The up/down direction logic */

.input,
.input:active {
  background-position: 0 24px;
}

.input:checked {
  background-position: 0 0;
}

.input:checked ~ .input,
.input:checked ~ .input:active {
  background-position: 0 -24px;
}


.input-container {
  position: relative;
  margin: 12px auto;
  width: 200px;
}

.input-container input[type="number"] {
  font-size: 20px;
  color: white;
  width: 80%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="number"]:focus ~ .label,
.input-container input[type="number"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #fffefe;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 80%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="number"]:focus ~ .underline,
.input-container input[type="number"]:valid ~ .underline {
  transform: scaleX(1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Search Bar */
/* From Uiverse.io by satyamchaudharydev */ 
/* From uiverse.io by @satyamchaudharydev */
/* this button is inspired by -- whatsapp input */
/* == type to see fully interactive and click the close buttom to remove the text  == */

.form-search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  --input-bg: #FFf;
 /*  background of input */
  --padding: 1.5em;
  --rotate: 80deg;
 /*  rotation degree of input*/
  --gap: 2em;
  /*  gap of items in input */
  --icon-change-color: #15A986;
 /*  when rotating changed icon color */
  --height: 40px;
 /*  height */
  width: 50%;
  padding-inline-end: 1em;
 /*  change this for padding in the end of input */
  background: var(--input-bg);
  position: relative;
  border-radius: 4px;
}


.form-search label {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--height);
}

.form-search input {
  width: 100%;
  padding-inline-start: calc(var(--padding) + var(--gap));
  outline: none;
  background: none;
  border: 0;
}
/* style for both icons -- search,close */
.form-search svg {
  /* display: block; */
  color: #111;
  transition: 0.3s cubic-bezier(.4,0,.2,1);
  position: absolute;
  height: 15px;
}
/* search icon */
.icon {
  position: absolute;
  left: var(--padding);
  transition: 0.3s cubic-bezier(.4,0,.2,1);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* arrow-icon*/
.swap-off {
  transform: rotate(-80deg);
  opacity: 0;
  visibility: hidden;
}
/* close button */
.close-btn {
  /* removing default bg of button */
  background: none;
  border: none;
  right: calc(var(--padding) - var(--gap));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.form-search input:focus ~ .icon {
  transform: rotate(var(--rotate)) scale(1.3);
}

.form-search input:focus ~ .icon .swap-off {
  opacity: 1;
  transform: rotate(-80deg);
  visibility: visible;
  color: var(--icon-change-color);
}

.form-search input:focus ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.form-search input:valid ~ .icon {
  transform: scale(1.3) rotate(var(--rotate))
}

.form-search input:valid ~ .icon .swap-off {
  opacity: 1;
  visibility: visible;
  color: var(--icon-change-color);
}

.form-search input:valid ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}

.form-search input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0s;
}

.static-header {
  height: calc(50vh - 22px);
  padding: 20px 70px;
  width: 100%;
  background-size: cover;
  background-position: center;
}


