.template.container{
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.template.container .box{
    width: 200dvh;
    height: 80dvh;
    display: flex;
    justify-content: none;
    flex-direction: row;
}

.pictures{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row; 
    /* margin-top: 5rem; */
    gap: 10px;
}

.picture-menu.container .box {
    width: auto;
    max-width: 15dvh;
    height: auto;
    max-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 12%;
    overflow-y: auto;
    border-radius: 0.7rem;
    backdrop-filter: none;
}

.picture-menu.container .box img {
    width: 100%;
    cursor: pointer;
    border-radius: 0.7rem;
    transition: transform 0.3s;
}

.picture-menu img:hover {
    transform: scale(1.1);
}

.selected-picture.container{
    max-width: 40dvh;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.selected-picture.container .box {
    width: auto;
    height: auto;
    max-width: 55dvh;
    max-height: 50dvh;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: none;
}

.selected-picture.container .box img {
    max-width: 50dvh;
    max-height: 50dvh;
    border-radius: 0.7rem;
    object-fit: contain;
}

.description.container{
    margin-top: 2dvh;
    /* margin-right: rem; */
    justify-content: flex-start;
}

.description.container .box{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 60dvh;
    height: auto;
    max-height: 40dvh;
    backdrop-filter: none;
}

.description.container .box span{
    font-weight: bold;
    font-size: 20px;
}

.description.container .box p{
    font-size: 12px;
}

.buy.container{
    margin-top: 2%;
    columns: 2;
    margin-right: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.buy.container .box{
    display: flex;
    flex-direction: column;
    width: auto;
    /* max-width: 10rem; */
    height: auto;
    max-height: 20rem;
    backdrop-filter: none;
    gap: 10px;
}

.buy.container .box span{
    margin-left: 3.5rem;
    font-size: 20px;
    font-weight: bold;
}

.main{
    display: flex;
    flex-direction: column  ;
}


.buy-now {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .buy-now::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .buy-now:hover {
    color: #e8e8e8;
   }
   
   .buy-now:hover::before {
    width: 100%;
   }